.background {
  position: relative;
  background-image: url('/background.webp');
  background-size: 400%;
  background-position: center 5rem;
  background-repeat: no-repeat;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background: linear-gradient(to bottom, transparent, #f2f2ed);
  }
}

@media (min-width: 768px) {
  .background {
    background-size: 150%;
    background-position: center 8rem;
  }
}
