.modal {
  max-width: 45rem;
  .grantProgramModal {
    .header {
      padding: 0 0 1.8rem;
      border-bottom: 1px solid #d6d6d6;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .title {
        font-family: var(--font-inter);
        font-size: 2rem;
        font-weight: 800;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: #0a0a0a;
      }
      .closeButton {
        padding: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fafaf8;
        border: 1px solid #d6d6d6;
        border-radius: 3px;
        transition: all 0.2s ease;
        .xIcon {
          height: 1.8rem;
          width: 1.8rem;
          color: #374151;
          transition: all 0.2s ease;
        }
        &:hover {
          background-color: #f2f2ed;
          border-color: #c2c2c2;
          .xIcon {
            color: #272e3a;
          }
        }
      }
    }
    .content {
      margin: 1.8rem 0 1rem;
      display: flex;
      flex-direction: column;
      gap: 1.6rem 0;
      .p {
        font-family: var(--font-inter);
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #262626;
        .link {
          color: var(--linkColor);
          text-decoration: underline;
        }
      }
    }
  }
}
