.programs {
  position: relative;
  z-index: 2;
  margin-top: -19rem;
  padding-top: 2.4rem;
  .grid {
    margin: 3.2rem auto 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'both' 'onlineInstruction' 'behindTheWheel';
    gap: 3.2rem 0;
  }
}

@media (min-width: 768px) {
  .programs {
    .description {
      max-width: 43rem;
    }
  }
}

@media (min-width: 1024px) {
  .programs {
    /* margin-left: 33.5rem; */
    .grid {
      align-items: flex-start;
      /* width: 100.5rem;  */
      width: 67rem;
      grid-template-areas: 'both behindTheWheel';
      grid-template-columns: 1fr 1fr;
      gap: 0;
    }
  }
}
